modules = ["nodejs-20", "python-3.12", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
FIREBASE_PROJECT_ID = "pu-transit-f815d"
UNIVERSITY_EMAIL_DOMAINS = "paruluniversity.ac.in"
FIREBASE_DATABASE_URL = "https://pu-transit-f815d-default-rtdb.firebaseio.com"

[nix]
channel = "stable-25_05"
packages = ["jdk21_headless"]
